elevenlabs
python-dotenv
fastrtc
loguru
ollama
fastrtc[vad]
python-soundfile
litellm
groq
openai
# Kokoro TTS dependencies
kokoro
torch
espeakng-loader
phonemizer-fork
# LlamaIndex dependencies
llama-index
llama-index-llms-openai
llama-index-llms-litellm
google-auth

faster_whisper