elevenlabs
python-dotenv
fastrtc
loguru
ollama
langchain-community
langchain-ollama
langgraph
fastrtc[vad]
python-soundfile
soundfile
litellm
groq
# Kokoro TTS dependencies
kokoro
torch
espeakng-loader
phonemizer-fork